doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='/__p5_server_static/favicon.svg')
    link(rel='mask-icon', href='/__p5_server_static/favicon-mask.svg', color='#000000')
    title= title
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.js' crossorigin='anonymous' defer)
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4/dist/semantic.min.css')
    style
      include style.css
    script(src='/__p5_server_static/iframe-manager.min.js')
  body
    .ui.left.inverted.vertical.visible.sidebar.menu
      .ui.breadcrumb
        each component, i in pathComponents
          if i > 0
            .divider  /
          if i + 1 == pathComponents.length
            .section.active= component.name
          else
            a.section(href=component.path)= component.name
      if readme
        .item
          a.header(href=readme.url, target='sketch')= readme.name
      each sketch in sketches
        .item
          .header
            a(href=play_link(sketch), target='sketch')= sketch.name
            a.source-view(href=path_to_src_view(sketch.scriptFile, sketch), target="sketch") (source)
          .description
            if sketch.description
              a(href=play_link(sketch), target='sketch')!= markdown(sketch.description)
      each dir in directories
        .item
          i.folder.outline.icon
          a.content(href=directory_index(dir))= dir

    iframe.pusher#sketch(name='sketch', src=readme && readme.url, scrolling='no')
